soft-keyboard {
	button {
		display: inline-block;
		border: none;
		padding: 0;
		border-radius: unset;
		margin-bottom: 1px;
		margin-right: 1px;
	}

	div:last-of-type button {
		margin-bottom: 0px;
	}

	div button:last-of-type {
		margin-right: 0px;
	}
}